.page{
    position: absolute;
    height: 700px;
    width:500px;
    transform-origin: left;
    background-color: red;
    border: 1px solid black;
    transition: 800ms ease-in-out;
    z-index: 1;
}

.next{
    color:white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}