.book-holder{
    transition: 1s ease-in-out;
    display: flex;
    height: 700px;
    justify-content: center;
    margin: 50px 0;
}
.book{
    width: 500px;
    height: 700px;
    display: inline-flex;
    transition: 800ms ease-in-out;
    position: relative;

}
.cover{
    transition: 1s ease-in-out;
    transform: rotateY(0deg);
    background-color: rgb(39, 39, 94) !important;
}

.cover:checked{
    transform: rotateY(180deg);
}
